<h1>bookings as renter</h1>
<% @bookings_as_renter.each do |booking| %>
<h2><%= booking.total_price %></h2>
<% end %>

<h1>bookings as owner</h1>
<% @bookings_as_owner.each do |booking| %>
<h2><%= booking.start_date %></h2>
<% end %>
