<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>BikeBNB Dashboard</title>
  <meta name="description" content="BikeBNB Dashboard">

  <%# <link rel="stylesheet" href="#"> %>

</head>

<body>
<div class="dashboard-container">
  <div class="bikes-container">
    <div class="user_bikes">
      <%# This will contain the list of the logged-in user's bikes %>
      <h3>Your bikes:</h3>
      <div class='card-bike'>I am a card</div>
      <br>
      <div class='card-bike'>I am a card</div>
      <br>
      <div class='card-bike'>
        
      </div>
    </div>
  </div>

  <div class="booking-container">
    <div class="user_bookings">
      <%# This will contain the list of booking made by the logged-in user %>
      <h3>Your bookings:</h3>
    </div>
  </div>
</div>

</body>

</html>