<div class="mt-5">
  <div class="footer">
    <div class="footer-slogan">
      <h3><i>For a <strong>new</strong> experience, a <strong>dream</strong>, a <strong>goal</strong>...</i></h3>
    </div>
    <div class="footer-links">
      <ul>
        <li>Follow us</li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
      </ul>
    </div>
    <div class="footer-copyright">
      The best bikes in the world <i class="fas fa-biking"></i>
      <br>
      <h6>®BikeBNB. All rights reserved.</h6>
    </div>
  </div>
</div>
