<div class="footer">
  <div class="footer-heading">
    <h3><i>For a <strong>new</strong> experience, a <strong>dream</strong>, a <strong>goal</strong>...</i></h3>
  </div>
  <div class="footer-links">
    <a href="www.facebook.com" target="blank"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <h6><i>Follow us on social media</i></h6>
  </div>
  <div class="footer-copyright">
    The best bikes in the world <i class="fas fa-biking"></i>
    <br>
    Rented out by le Wagon's dependency
    <br><br>
    <h6><i>®BikeBNB. All rights reserved.</i></h6>
  </div>
</div>