
<%# This is the landing page, the code below does the following:
 banner image
 banner text
 insert registration button %>

 <header class="landing-banner">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-left">
        <h1>
          <span id="banner-typed-text" style="color: white" class="font-weight-light"></span>
        </h1>
        <p class="lead">Rent or lease <strong>bikes</strong> in just 3 clicks</p>
        <% if user_signed_in? %>
          <%= link_to "Rent a bike", bikes_path, class: "btn btn-success mt-2" %>
        <% else %>
          <%= link_to "Register now", new_user_registration_path, class: "btn btn-success mt-2" %>
        <% end %>
      </div>
    </div>
  </div>
</header>
