<% if policy(Bike).create? %>
  <%= link_to "New bike", new_bike_path %>
<% end %>

<% @bikes.each do |bike| %>
<div class="card-trip">
  <img src="https://images.unsplash.com/photo-1487803836022-91054ca05fdd?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cm9hZCUyMGJpa2V8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt="road bike, wooden wall"/>
  <div class="card-trip-infos">
    <div>
      <h2>Bike: <%= bike.category %></h2>
      <p>Brand: <%= bike.brand %></p>
      <p>Status: </p>
      <p>Age: </p>
      <h2 class="card-trip-pricing"><%= bike.price_per_day %><h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
</div>
<% end  %>
