.card-booking {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: left;
  border-radius: 10px;
  position: relative;
}

.card-booking img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-booking h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-booking p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-booking .card-booking-infos {
  padding: 16px;
  text-align: left;
}

#status-bubble {
  position: absolute;
  right: 10px;
  top: 10px;
}

.bookings-header {
  margin: 30px 0px;
  text-align: left;
  border-bottom: 3px solid #99C2A2;
  h3 {
    font-size: 25px;
    color: #7A918D;
  }
}

#booking-buttons {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

#booking-avatar {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 10px;
  top: 10px;
}

