#new-bike-form {
  border-radius: 10px;
  min-width: 350px;
  width: 50vw;
  box-shadow: 0 16px 32px rgba(0,0,0,0.2);
  padding: 20px;
  background: #ECF6E6;
}

.form-control {
  border: 0;
  outline: 0;
  background: white;
  border-bottom: 1px solid #7A918D;
}

#search-bar {
  width: 60%;
}
