.navbar-lewagon {
  background: #e4f7db85;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 40px;
  color: rgba(13, 36, 2, 0.911);
  position: sticky;
  top: 0;
}

.bicycle-logo {
  display: flex;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
