.dashboard-container {
  display: flex;
 // flex-direction: column;

}

.bikes-container {
  background-color: #5f9ea0;
  display: flex;
  max-width: 50%;
}

.user_bikes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bookings-container {
  background-color: darkolivegreen;
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-start;
  //max-width: 50%;
}

// .user_bookings {
    
// }